mysamplenode/sample/node/case/28102015/NetgearClientService/Service References/MessageCenterService.svc/MessageCenter2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MessageCenterClassLibrary" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MessageCenterClassLibrary" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCustomerTaskClass">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CustomerTaskClass" nillable="true" type="tns:CustomerTaskClass" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCustomerTaskClass" nillable="true" type="tns:ArrayOfCustomerTaskClass" />
  <xs:complexType name="CustomerTaskClass">
    <xs:sequence>
      <xs:element minOccurs="0" name="CusSubID" type="xs:long" />
      <xs:element minOccurs="0" name="CusTaskID" type="xs:long" />
      <xs:element minOccurs="0" name="EndDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Task" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UpdatedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UpdatedOn" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomerTaskClass" nillable="true" type="tns:CustomerTaskClass" />
</xs:schema>